<!-- Menu -->
<nav id="menu">
  <div class="inner">
    <h2>Meny</h2>
    <ul class="links">
      <li><a href="{{ relBase }}/#banner">Hem</a></li>
      <li><a href="{{ relBase }}/generic/">Stiftelsens Ändamål</a></li>
      <li><a href="{{ relBase }}/#four">Ansökningsprocess</a></li>
      <li><a href="{{ relBase }}/blanketter/">Blanketter</a></li>
      <li><a href="{{ relBase }}/datum/">Viktiga Datum</a></li>
      <li><a href="{{ relBase }}/#footer">Kontakt</a></li>

    </ul>
    <a href="#" class="close">Close</a>
  </div>
</nav>